<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>WebTechnologies</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>MyServlet</servlet-name>
    <servlet-class>com.example.MyServlet</servlet-class>
    <init-param>
      <param-name>myParam</param-name>
      <param-value>Hello, World!</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyServlet</servlet-name>
    <url-pattern>/myServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>index_01</display-name>
    <servlet-name>index_01</servlet-name>
    <servlet-class>com.servlet.index_01</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>index_01</servlet-name>
    <url-pattern>/index_01</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>index_02</display-name>
    <servlet-name>index_02</servlet-name>
    <servlet-class>com.servlet.index_02</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>index_02</servlet-name>
    <url-pattern>/index_02</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Student</display-name>
    <servlet-name>Student</servlet-name>
    <servlet-class>com.servlet.Student</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Student</servlet-name>
    <url-pattern>/Student</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Studentt</display-name>
    <servlet-name>Studentt</servlet-name>
    <servlet-class>com.servlet.Studentt</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Studentt</servlet-name>
    <url-pattern>/Studentt</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Register</display-name>
    <servlet-name>Register</servlet-name>
    <servlet-class>com.servlet.Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Registerr</display-name>
    <servlet-name>Registerr</servlet-name>
    <servlet-class>com.servlet.Registerr</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Registerr</servlet-name>
    <url-pattern>/Registerr</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Validation</display-name>
    <servlet-name>Validation</servlet-name>
    <servlet-class>com.servlet.Validation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Validation</servlet-name>
    <url-pattern>/Validation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DatabaseOperation</display-name>
    <servlet-name>DatabaseOperation</servlet-name>
    <servlet-class>com.servlet.DatabaseOperation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DatabaseOperation</servlet-name>
    <url-pattern>/DatabaseOperation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>modal</display-name>
    <servlet-name>modal</servlet-name>
    <servlet-class>com.servlet.modal</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>modal</servlet-name>
    <url-pattern>/modal</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>controller</display-name>
    <servlet-name>controller</servlet-name>
    <servlet-class>com.servlet.controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>controller</servlet-name>
    <url-pattern>/controller</url-pattern>
  </servlet-mapping>
</web-app>